{% extends "base.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block description %}A website to help me learn how to deploy a django app to production{% endblock %}

{% block content %}
    <div>
        <h1>{{ item.title }}</h1>
        <div>
            <p>{{ item.published_date|date }} - {{ item.author.username }}<br>{{ item.url|urlize }}</p>
            {{ item.content }}
        </div>
        <hr>
        <div class="row">
            {% if item.get_next_by_published_date %}
                <a href="{{ item.get_next_by_published_date.get_absolute_url }}" class="pull-left span2"><i class="icon-arrow-left"></i> Next<br>{{ item.get_next_by_published_date.title }}</a>
            {% endif %}
            {% if item.get_previous_by_published_date %}
                <a href="{{ item.get_previous_by_published_date.get_absolute_url }}" class="pull-right span2" style="text-align:right">Previous <i class="icon-arrow-right"></i><br>{{ item.get_previous_by_published_date.title }}</a><br>
            {% endif %}
        </div>
        <hr>

    </div>
{% endblock %}

{% block footer_script %}
{% endblock %}
